<div *ngIf="uporabnik">

    <h3>Podrobnosti uporabnika {{uporabnik.ime}}</h3>

    <table>
        <tr>
            <td>Id:</td>
            <td>{{uporabnik.id}}</td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td>{{uporabnik.ime}}</td>
        </tr>
        <tr>
            <td>Priimek:</td>
            <td>{{uporabnik.priimek}}</td>
        </tr>
        <tr>
            <td>Uporabniško ime:</td>
            <td>{{uporabnik.uporabniskoIme}}</td>
        </tr>
        <tr>
            <td>Naslov:</td>
            <td>{{uporabnik.naslov}}</td>
        </tr>
        <tr>
            <td>Geslo:</td>
            <td>{{uporabnik.password}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{uporabnik.email}}</td>
        </tr>
    </table>

    <br>
    <h4>WishListe:</h4>
    <ul>
        <li *ngFor="let wishList of uporabnik.wishLists">
            {{opomnik.naslov}}: {{opomnik.opis}}
        </li>
    </ul>

    <br>
    <button (click)="nazaj()">Nazaj</button>
</div>
